@import "./styles/theme.css";

* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
}

button {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: var(--secondary);
}

input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  width: 100%;
}
